/*----------------------
    Google font link
----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/*----------------------
    Common Style Start
----------------------- */
*{
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #B5EAEA;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 0;
}


/*----------------------
    Common Style end
----------------------- */

/*----------------------
    Header Style Start
----------------------- */

header{
    background-color: #2D25A0;
}
.heading{
    display: flex;
    justify-content: space-evenly;  
}
.heading:hover{
    box-shadow: 1em 1em 5em rgba(0,0,0,0.3);
}
.heading-title{
    margin-top: 121px;
    margin-left: 100px;
}
.heading-title  h1{
    width: 485px;
    font-size: 64px;
    color: white;
}
.btn{
    width: 168px;
    height: 44px;
    padding: 10px 24px;
    background-color: #E02C6D;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    margin-top: 20px;

}
.btn:hover{
    transform: scale(1.3);
    transition: transform 1s ease-in;
}
.arow{
    margin-left: 10px;
}

.heading-photo img{
    width: 556.01px;
    height: 438px;
    margin-top: 67px;
    margin-right: 70px;
    margin-bottom: 86px;
}

/*----------------------
    Header Style end
----------------------- */

/*-----------------------
    Player Style start 
------------------------*/

.players{
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}
.blogs{
    width: 330px;
    background-color: #FFFFFF;
    
}
.blogs:hover{
    box-shadow: 0px 0px 40px rgb(187, 187, 187, 2);
}
.blog{
    margin: 15px;
}
.thumbnail img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
}

/*-----------------------
    Player Style end 
------------------------*/

/*---------------------------------
     Optional Section style start 
----------------------------------*/

.highlight{
    display: flex;
}
.highlight-title{
    width: 480px;
    margin-top: 154px;
    margin-left: 50px;

}
.highlight-title h2{
    font-size: 48px;
}
.highlight-title p{
    width: 404px;
    font-size: 16px;
}
.btn-2{
    width: 168px;
    height: 44px;
    padding: 10px 24px;
    background-color: #E02C6D;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    margin-top: 20px;
}
.highlight-photo img{
    width: 567px;
    height: 427px;
    margin-top: 95px;
    margin-left: 69px;
}

/*---------------------------------
     Optional Section style end 
----------------------------------*/


/* Match section style start */

.match-section{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}
fieldset{
    background-color: #ebe6df;
    border: .75rem solid #001489;
}
legend{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
    color: #140a47;
}
.next-match-title{
    text-align: center;
    margin-bottom: 50px;
}

.title-box{
    background-color: #FB7AFC;
    padding: 0 1em;
    font-size: 30px;
    color: white;
    margin-right: 20px;
}
.time{
    font-size: 30px;
    color: #140a47;
}
.match-schedule-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 15px;
    margin-bottom: 50px;
}
.match-schedule{
    margin-left: 20px;
    border-right: 5px solid rgba(162, 178, 159, 0.5);
}
.match-title h3{
    font-size: 30px;
}
.match-title p{
    font-size: 20px;
}
.match-description{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    margin-right: 20px;
}
.club-logo-name{
    display: flex;
    align-items: center;
    
}
.logo img{
    width: 70px;
}
.name{
    margin-left: 15px;
}
#right-border{
    border-right: none;
}
.point-table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.point-table th{
    border: 1px solid gray;
    border-right: none;
    border-left: none; 
    height: 50px;
}
.point-table td{
    height: 30px;

}
/* Match section style end */

/* Sponsar section style start */

.sponsar-section{
    width: 100%;
    background-color: lightgray;
}
.all-partner{
    text-align: center;
}
.main-partner{
    padding-top: 50px;
    padding-bottom: 50px;
}
.partner-title,  h2{
    font-size: 2.5rem;
    color: #140a47;
}
hr{
    border: 10px dotted #140a47;
    border-bottom: none;
    width: 200px;
    position: relative;
    left: 44%;
    margin-bottom: 20px;
}
.company-logo img{
    width: 300px;
    margin: 15px;
}
.sponsor-title  h2{
    font-size: 2.5rem;
    color: #140a47;
}

/* Sponsar section style end */

