/*----------------------
    Google font link
----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/*----------------------
    Common Style Start
----------------------- */
*{
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #B5EAEA;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}


/*----------------------
    Common Style end
----------------------- */

/*----------------------
    Header Style Start
----------------------- */

header{
    background-color: #2D25A0;
}
.heading{
    display: flex;
    justify-content: space-evenly;  
}
.heading:hover{
    box-shadow: 1em 1em 5em rgba(0,0,0,0.3);
}
.heading-title{
    margin-top: 121px;
}
.heading-title  h1{
    width: 485px;
    font-size: 64px;
    color: white;
}
.btn{
    width: 168px;
    height: 44px;
    padding: 10px 24px;
    background-color: #E02C6D;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    margin-top: 20px;

}
.btn:hover{
    transform: scale(1.3);
    transition: transform 1s ease-in;
}
.arow{
    margin-left: 10px;
}

.heading-photo img{
    width: 556.01px;
    height: 438px;
    margin-top: 67px;
    margin-bottom: 86px;
}

/*----------------------
    Header Style end
----------------------- */

/*-----------------------
    Player Style start 
------------------------*/

.players{
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}
.blogs{
    width: 330px;
    background-color: #FFFFFF;
    
}
.blogs:hover{
    box-shadow: 0px 0px 40px rgb(187, 187, 187, 2);
}
.blog{
    margin: 15px;
}
.thumbnail img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
}

/*-----------------------
    Player Style end 
------------------------*/


